@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Goudy Bookletter 1911', serif;;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.webp") no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }

  .container {
    position: absolute;
    width: 300px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/card.webp") center center;
    background-size: cover;
    color: white;
  }

  .styling{
    box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 39%);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
  }